:root {
  --first-color: #c1121f;
  --second-color: #fdf0d5;
  --third-color: #003049;
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  --box-shadow: 0 0 70px -10px rgb(255, 255, 255);
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

body {
  font-family: "oxanium";
  background: #000;
}

.container {
  margin: 100px auto;
  color: #fff;
}

.shadow {
  position: relative;
  background: #111;
  width: 600px;
  height: 700px;
  margin: 100px auto;
}

.shadow:before,
.shadow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  background: linear-gradient(
    45deg,
    #fc0090,
    #0000ff,
    #00ff00,
    #ff0000,
    #ffff00,
    #fc0090,
    #0000ff,
    #00ff00,
    #ffff00
  );
  background-size: 300%;
  animation: shadow 20s linear infinite;
}

.shadow:after {
  filter: blur(30px);
}

@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
  100% {
    background-position: 0 0;
  }
}
#weekDay {
  text-align: center;
  font-size: 25px;
}
#fullDate {
  font-size: 18px;
  text-align: center;
  position: relative;
  right: -29px;
}
#time {
  font-size: 22px;
}

button {
  margin: 20px;
}
.custom-btn {
  color: #fff;
  width: 120px;
  height: 40px;
  padding: 10px 25px;
  font-family: "Oxanium", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-13 {
  color: #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  border: 1px solid #0bf4f3;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  transition: all 0.3s ease;
}

.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}

.form-control {
  width: 230px;
  background: transparent;
  position: relative;
  top: -3px;
  color: white;
}

li {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 60px;
}
.city {
  text-align: center;
}

#temperature {
  font-size: 100px;
  position: relative;
  top: -10px;
  left: 30px;
}

#description {
  text-transform: capitalize;
}
.forecast {
  padding: 20px;
}
.weather-forecast-date {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0829be,
    0 0 82px #0d2bb1, 0 0 92px #0c28a8, 0 0 102px #092086, 0 0 151px #050d33;
}

.units {
  position: relative;
  top: -56px;
  left: 30px;
}
.weatherInfo {
  text-align: left;
}
.neon-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
  @media (min-width: 440px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    position: relative;
    padding: 10px 10px;
    color: #f2f2f2;
    font-family: monospace;
    line-height: 1.5;
    background: transparent;
  }

  .card:before,
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .card:after {
    z-index: -2;
    filter: blur(30px);
  }

  .card:nth-child(1):before,
  .card:nth-child(1):after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
  }

  .card:nth-child(2):before,
  .card:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
  }

  .card:nth-child(3):before,
  .card:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
  }
  .card:nth-child(4):before,
  .card:nth-child(4):after {
    background: linear-gradient(235deg, #ff00ff, #010615, #ffbb00);
  }

  .card:nth-child(5):before,
  .card:nth-child(5):after {
    background: linear-gradient(235deg, #00ff00, #010615, #ff8800);
  }

  .card:nth-child(6):before,
  .card:nth-child(6):after {
    background: linear-gradient(235deg, #00ffff, #010615, #ff0055);
  }
}

.card img {
  display: flex;
  justify-content: center;
}

.card:hover {
  transition: all 400ms ease;
  background: rgba(255, 255, 255, 0.3);
}
